<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--This kiosk will only work with a FLIR E8 or E8-XT Thermal Camera-->
    <!-- Global Settings -->
    <add key="orgName" value="Community" />
    <add key="appTitle" value="Thermal Scanning Kiosk" />

    <!-- User Interface Settings -->
    <add key="footerText" value="Be Positive. Be Kind. Be Human." />
    <add key="greetingText" value="Please Approach the Kiosk" />
    <add key="moveCloser1Text" value="Move Closer and Look Directly Toward the Kiosk" />
    <add key="moveCloser2Text" value="A Little Closer Please" />
    <add key="scanningText" value="Please Stand Still - Scanning Now" />
    <add key="onePersonText" value="One Person at a Time Please" />
    <add key="failScanText" value="Further Evaluation Required" />
    <add key="passScanText" value="Please Proceed to your Workspace" />
    <add key="thermalCamNotReadyText" value="Thermal Camera Not Ready" />
    <add key="connectingToWebCamText" value="Connecting to Web Camera" />
    <add key="greetingImagePath" value=".\\Graphics\\Hat_Glasses.png" />
    <add key="passImagePath" value=".\\Graphics\\green-check.png" />
    <add key="failImagePath" value=".\\Graphics\\red-x.png" />
    <add key="logo1ImagePath" value=".\\Graphics\\Logo1.jpg" />
    <add key="logo2ImagePath" value=".\\Graphics\\Logo2.jpg" />
    <add key="logo3ImagePath" value=".\\Graphics\\Logo3.jpg" />
    <add key="logo4ImagePath" value=".\\Graphics\\together.png" />
    <add key="passSoundPath" value="C:\\Windows\\Media\\Windows Print complete.wav" />
    <add key="failSoundPath" value="C:\\Windows\\Media\\Windows Critical Stop.wav" />

    <!-- Facial Detection Settings -->
    <!-- Frames Per Second -->
    <!-- DO NOT Set Higher than 30 -->
    <add key="ocvFPS" value="30" />
    <!-- AI model for Facial Detection -->
    <add key="ocvPrototxtPath" value=".\\OpenCV\\prototxt.txt" />
    <add key="ocvCaffeModelPath" value=".\\OpenCV\\res10_300x300_ssd_iter_140000.caffemodel" />
    <!-- This impacts the distance the user can be from the kiosk -->
    <!-- Approx 2 feet to 4.5 feet currently - increasing this distance will negatively impact the angle distance compensation -->
    <!-- Lower MinW / MinH = greater allowable distance  -->
    <!-- Higher MinW / MinH = lower allowable distance  -->
    <add key="ocvFacialDetectMinW" value="60" />
    <add key="ocvFacialDetectMinH" value="73" />
    <!-- Minimum Facial Detection Certainty - Below 0.20 is not recomended as it will produce false facial detections  -->
    <!-- It is best to modify this in Debug mode if modification is needed  -->
    <add key="ocvFacialDetectMinCertainty" value="0.20" />

    <!-- Image Compensation -->
    <!-- Do NOT Modify -->
    <!-- Use Debug Mode to make adjustments -->
    <add key="ocvFrameWidth" value="640" />
    <add key="ocvFrameHeight" value="480" />
    <add key="ocvCompX" value="80" />
    <add key="ocvCompY" value="60" />
    <add key="ocvCompW" value="470" />
    <add key="ocvCompH" value="325" />
    <add key="ocvCompAD" value="-35.0" />

    <!-- Thermal Scanning Settings -->
    <add key="irHeightAoI" value="0.65" />
    <add key="irWidthAoI" value="0.9" />
    <add key="preCalibrationAvg" value="95.2" />
    <add key="highTempThreshold" value="4.0" />
    <add key="lowTempThreshold" value="6.0" />
    <add key="requiredScanPasses" value="5" />
    <add key="runningAvgUserCount" value="15" />

    <!-- Logging Settings -->
    <!-- enable / disable logging -->
    <add key="logging" value="True" />
    <!-- log path folder within C:\ProgramData -->
    <add key="logPath" value="\\ThermalScanningKiosk\\Logs\\" />
    <add key="logFilePrefix" value="Kiosk_1_" />
  </appSettings>
</configuration>